.navigation {
	color: white;
	margin-bottom: -90px;
  	position: relative;
  	z-index: 2;
  	padding: 21px 0;

  	img {
  		float: left;
  	}

	.nav-menu {
		text-transform: uppercase;
		margin: 0;
  		float: right;

		a {
			color: white;

			li {
				display: inline-block;
				margin: 14px 5px 14px 5px;
			}
		}
	}
}